<section class="phx-hero">
  <p>Please choose:</p>
</section>

<div class="section-btn">
  <button class="red-btn" data-method="get" data-to="/red">Red Pill</button>
  <button class="blue-btn" data-method="get" data-to="/blue">Blue Pill</button>
</div>
