<section class="phx-hero">
  <h1> Welcome to the biggest decision of your life!</h1>
  <p>Please choose:</p>
</section>

<div class="section-btn">
  <button class="red-btn" data-method="get" data-to="/red">Red</button>
  <button class="blue-btn" data-method="get" data-to="/blue">Blue</button>
</div>
